body {
  background-color: #121212; /* Cor de fundo do corpo */
  color: #fff; /* Cor do texto */
}

.large-button {
  display: inline-block; /* Alterado para inline-block para os botões ficarem lado a lado */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: #121212; /* Cor de fundo do botão */
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* Cor do texto do botão */
  cursor: pointer;
}

.large-button img {
  max-width: 200px;
  max-height: 150px;
  margin-bottom: 1px;
}

.large-button:hover {
  background-color: #333; /* Cor de fundo do botão ao passar o mouse */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px; /* Adiciona espaço à direita do campo de busca */
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3; /* Cor de fundo do botão de pesquisa ao passar o mouse */
}

.error {
  color: red;
}

.table-container {
  margin-top: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #444; /* Cor da borda da tabela de usuário */
  border-bottom: 1px solid #ddd;
}

.user-table td,
.user-table th {
  padding: 8px;
  border-bottom: 1px solid #555; /* Cor da borda das células da tabela */
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #121212; /* Cor de fundo do cabeçalho da tabela de usuário */
  color: #fff; /* Cor do texto do cabeçalho da tabela de usuário */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: #fff; /* Cor do texto da tabela */
}

/* Estilo para as células da tabela */
td,
th {
  border: 1px solid #333; /* Cor da borda das células da tabela */
  padding: 8px;
  text-align: left;
}

/* Estilo para a primeira célula de cada linha (cabeçalho) */
th {
  background-color: #121212; /* Cor de fundo do cabeçalho da tabela */
}

/* Estilo para as células de dados alternadas */
tr:nth-child(even) {
  background-color: #2c2929; /* Cor de fundo de linhas alternadas */
}
.custom-button {
  border: 2px solid #4CAF50;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #162c17;
  border-color: #162c17;
}

.custom-button p {
  margin: 0;
}

.matrix-container {
  background-color: #000;
  color: #0f0; /* Verde */
  font-family: 'Courier New', monospace;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matrix-content {
  display: flex;
  flex-wrap: wrap;
}

.matrix-link {
  text-decoration: none;
  color: #0f0;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s;
}

.matrix-link:hover {
  transform: scale(1.1);
}
.matrix-container {
  background-color: #000;
  color: #0f0; /* Verde */
  font-family: 'Courier New', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px; /* Ajuste o valor conforme necessário */
}

.matrix-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.matrix-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.matrix-link {
  text-decoration: none;
  color: #0f0;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s;
}

.matrix-link:hover {
  transform: scale(1.1);
}

.matrix-link p {
  margin: 0;
}
.matrix-container {
  background-color: #000;
  color: #0f0; /* Verde */
  font-family: 'Courier New', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.matrix-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.matrix-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.matrix-link {
   text-decoration: none;
    color: #0f0;
    text-align: center;
    margin: 10px;
    width: calc(100% / 3 - 20px); /* Ajusta a largura para caber três ícones por linha */
    max-width: 200px; /* Define a largura máxima para evitar que os ícones fiquem muito espaçados */
    transition: transform 0.3s;
    border: 2px solid #0f0; /* Adiciona uma borda verde de 2px */
    border-radius: 5px; /* Adiciona um pequeno raio de borda para uma aparência mais suave */
    padding: 10px; /* Adiciona um preenchimento interno para os botões */
}

.matrix-link:hover {
  transform: scale(1.1);
}

.matrix-link p {
  margin: 0;
}
.user-panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.user-panel h2 {
  margin-bottom: 10px;
}

.user-panel p {
  margin-bottom: 5px;
}

.user-panel p strong {
  margin-right: 5px;
  font-weight: bold;
}
/* UserPanel.css */

.save-button,
.back-button,
.edit-button {
  background-color: #333;
  color: #00ff00;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover,
.back-button:hover,
.edit-button:hover {
  background-color: #555;
}
