.site .navbar {
    box-shadow: 2px 0px 9px 2px #000; /* Sombra do navbar */
    padding: 10px 20px;
    background-color: #101827; /* Cor de fundo do navbar */
}

.navbar .user-ciclo {
    max-width: 50px;
    border-radius: 100%;
}

.navbar .btn-menu {
    background-color: transparent;
    border: none;
    color: #fff; /* Cor do ícone do menu */
    font-size: 30px;
}
